

body {
    font-family:Helvetica, Arial, Verdana, sans-serif;
    font-size: 15px;
  
    width:800px;
    margin: 0 auto;
    padding:10px;
    text-decoration: none;
}

h1 {
    font-family:Helvetica, Arial, Verdana, sans-serif;
    font-size: 45px;
    color: #292E29;
    text-decoration: none;
    font-weight: none;
    
    display: inline;
}  

hr {
    color: #292E29
}

.h_block {
  background-color: pink;
}

a:link{
  display:inline;
  float: right;

  font-family:Helvetica, Arial, Verdana, sans-serif;
  font-size: 45px;
  color: #498F83;
  text-decoration: none;
}   

a:hover{
  display:inline;
  float: right;

  font-family:Helvetica, Arial, Verdana, sans-serif;
  font-size: 45px;
  color: #16DEBC;
  text-decoration: none;
}   